html, body {
	margin:  0;
	padding:  0;
	font-family:  Arial, sans-serif;
	text-align: center;
	max-height: 100vh;
	background-image: url('../images/bg-image.jpeg');
	background-size: cover;
	background-repeat:  no-repeat;
	
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:  1fr 3fr 2fr;
	background:  rgba(210, 215, 211, 0.6);
	min-height:  800px;
}

#color-box {
	width: 200px;
	height: 200px;
}

#pink{
	background-color: #FF69B4;
}

#lime-green{
	background-color: #32CD32;
}

#orange{
	background-color: #FFA500;
}

#cyan{
	background-color: #00FFFF;
}

#biege{
	background-color: #F5F5DC;
}





